[Desktop Entry]
Encoding=UTF-8
Name=OC
Comment=OC P2P Cryptocurrency
Comment[fr]=OC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OC, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/oc-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/oc;
Categories=Office;
