[Desktop Entry]
Encoding=UTF-8
Name=OCP
Comment=OCP P2P Cryptocurrency
Comment[fr]=OCP, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OCP, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/ocp-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/ocp;
Categories=Office;
